<%- include('partials/header.ejs') %>
            <a class="nav-link" href="/">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminLogin">Admin<span class="sr-only">(current)</span></a>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<h1>Here's the good password page</h1>
    <form action="/logout">
        <button>Logout</button>
    </form>

<%- include('partials/footer.ejs') %>