<%- include('partials/header.ejs') %>
  
        <header>
            <div class="container"></div>
            <h1>Candy Skeleton Layout</h1>
            <h2>Your Cart</h2>
        </header>

        <main>
            <br>
            <hr style="width:50%">

            <table id="cart">
                <thead>
                    <th class="Product_Description">Product</th>
                    <th class="Quantity">Quantity</th>
                    <th class="Price">Price</th>
                    <th class="Total">Total</th>
                </thead>
                <tr>
                    <td><img src="" alt="Item 1"></td>
                    <td><input type="number" min="1" max="5" id="quantity1"></td>
                    <td id="price1">44.99</td>
                    <td class="total1"></td>
                </tr>
                <tr>
                    <td><img src="" alt="Item 2"></td>
                    <td><input type="number" min="1" max="5" id="quantity2"></td>
                    <td id="price2">59.99</td>
                    <td class="total2"></td>
                </tr>

            </table>

            <div id="summary">
                <button>Update Cart</button>
                <h5>Subtotal:</h5>
                <h5 class="subtotal"></h5>
                <h3>Total:</h3>
                <h3 id="total"></h3>
            </div>
            
        </main>

<%- include('partials/footer.ejs') %>