<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> Shopping Cart</title>
        <!-- Bootstrap core CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="js/scripts.js"></script>
        <!-- Custom styles for this template -->
        <link href="css/cart.css" rel="stylesheet">
        
    </head>

    <body>
        <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Pentagration Candy Co.</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <br>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
        <header>
            <div class="container"></div>
            <h1>Candy Skeleton Layout</h1>
            <h2>Your Cart</h2>
        </header>

        <main>
            <br>
            <hr style="width:50%">

            <table id="cart">
                <thead>
                    <th class="Product_Description">Product</th>
                    <th class="Quantity">Quantity</th>
                    <th class="Price">Price</th>
                    <th class="Total">Total</th>
                </thead>
                <tr>
                    <td><img src="" alt="Item 1"></td>
                    <td><input type="number" min="1" max="5" id="quantity1"></td>
                    <td id="price1">44.99</td>
                    <td class="total1"></td>
                </tr>
                <tr>
                    <td><img src="" alt="Item 2"></td>
                    <td><input type="number" min="1" max="5" id="quantity2"></td>
                    <td id="price2">59.99</td>
                    <td class="total2"></td>
                </tr>

            </table>

            <div id="summary">
                <button>Update Cart</button>
                <h5>Subtotal:</h5>
                <h5 class="subtotal"></h5>
                <h3>Total:</h3>
                <h3 id="total"></h3>
            </div>
            
        </main>

        <footer>
                 <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Pentagration Candy Co. 2019</p>
    </div>
    <!-- /.container -->
  </footer>

    </body>


</html>