<%- include('partials/header.ejs') %>



    <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <br>
        <div class="list-group">
          <a href="#" class="list-group-item">All Candy</a>
          <a href="#" class="list-group-item">No Nuts</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        <br>
        <div class="row">

<!-- THIS IS WHAT WE HAVE TO REPEAT TWENTY TIMES, ONCE FOR EACH BAR -->
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="img/bars/1.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">candy_name (psuedo)</a>
                </h4>
                <h5>$1.50 psuedo</h5>
                <ul class="card-text">
                  <li><b>Nuts:</b> psuedo</li>
                  <li><b>Nut Type:</b> pseudo</li>
                  <li><b>Calories:</b> pseudo</li>
                </ul>
                <img class="cartIcon" src="img/cartEmpty.png" width="20" align="right">
                <img class="cartIcon" src="img/cartFull.png" width="20" align="right">
              </div>
            </div>
          </div>
<!-- END BAR LISTING -->

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  
<%- include('partials/footer.ejs') %>

